In [7]:
#import necessary libraries
import pandas as pd 
import numpy as np

In [8]:
#load dataset
train_df = pd.read_csv('train_loan.csv')
test_df = pd.read_csv('test_loan.csv')

In [17]:
train_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [16]:
test_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
count,367.000000,367.000000,362.000000,361.000000,338.000000,367.0
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444,-1.0
std,4910.685399,2334.232099,61.366652,65.156643,0.380150,0.0
min,0.000000,0.000000,28.000000,6.000000,0.000000,-1.0
25%,2864.000000,0.000000,100.250000,360.000000,1.000000,-1.0
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000,-1.0
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000,-1.0
max,72529.000000,24000.000000,550.000000,480.000000,1.000000,-1.0

In [20]:
#Add the outcome variable to the test data
test_df['Loan_Status'] = -1

In [13]:
#concatenate both test and trrain data
df = pd.concat((train_df, test_df), axis=0)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 366
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    object
 1   Gender             957 non-null    object
 2   Married            978 non-null    object
 3   Dependents         956 non-null    object
 4   Education          981 non-null    object
 5   Self_Employed      926 non-null    object
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         954 non-null    float64
 9   Loan_Amount_Term   961 non-null    float64
 10  Credit_History     902 non-null    float64
 11  Property_Area      981 non-null    object
 12  Loan_Status        981 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 107.3+ KB

In [24]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object